# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
vendor/
node_modules/

# Compiled binary executables
*.exe
*.out

# Log files
*.log

# IDE files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# macOS Finder files
.AppleDouble
.DS_Store

# env
app.env
db.env
.env

# output
coverage.out

# openssl
ssl