# app.env.example
DB_SOURCE_USER_SERVICE=your_database_connection_string_here
HTTP_SERVER_ADDRESS_USER_SERVICE=localhost:8080
GRPC_SERVER_ADDRESS_USER_SERVICE=localhost:9090
TOKEN_SYMMETRIC_KEY=your_secret_key_here
ACCESS_TOKEN_DURATION=