# app.env.example
DB_SOURCE_USER_SERVICE=your_database_connection_string_here
HTTP_SERVER_ADDRESS_USER_SERVICE=
GRPC_SERVER_ADDRESS_USER_SERVICE=
TOKEN_SYMMETRIC_KEY=
ACCESS_TOKEN_DURATION=
REFRESH_TOKEN_DURATION=